/* RESET STYLES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;    
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
    outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
     border: none;
}

a,
input,
button,
button span {
	outline: none;
}

button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}


/* MAIN */

body {
    background: none repeat scroll 0 0 #FBFBFB;
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    line-height: 1.5;
}

a,
a:visited {
    color: #4f6a8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

/* HEADER */
#header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E8E8E8;
    display: block;
    height: 44px;
}
#header a.logo_link {
    float: left;
    margin: 9px 0 0 50px;
}
#header .logo {
    background: url("../img/logo/gcards_new_logo_small.png") repeat scroll 0 0 transparent;
    height: 26px;
    width: 100px;
}

/* FOOTER */
#footer {
    background-color: #F2F2F2 !important;
    border-top: 1px solid #E2E2E2;
    height: 60px;
    overflow: hidden;
}
#footer .logo {
    background: url("../img/logo/gcards_new_logo_small_black.png") repeat scroll 0 0 transparent;
    float: left;
    height: 26px;
    margin: 15px 0 0 50px;
    width: 100px;
}
#footer ul.navigation_bar {
    float: left;
    height: 17px;
    margin: 22px 0 0 30px;
    overflow: hidden;
}
#footer ul.navigation_bar li{
    float: left;
    margin: 0 15px 0 0;
}
#footer ul.navigation_bar li a{
    color: #666666;
    font-size: 10pt;
    font-weight: bold;
}

.main-body {
    display: block;
    overflow: hidden;
    position: relative;
}

/* MASTER PAGE INFO */
.content-slides .content {
    background: #ffffff;
    padding: 30px 15px;
    position: relative;
    text-align: center;
}
.content-slides .content .text {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
    width: 900px;
    word-wrap: break-word;
}
.content-slides .image{
    height: 700px;
}
.content-slides.first .content {
    background: #4285f4;
}
.content-slides.first .image {
    background: url("../img/pics_main/first.png") repeat scroll 0 0 transparent;
}
.content-slides.second .content {
    background-color: #FCCA03;
}
.content-slides.second .image {
    background: url("../img/pics_main/second.png") repeat scroll 0 0 transparent;
}
.content-slides.third .content {
    background-color: #16A61E;
}
.content-slides.third .image {
    /*background: url("../img/pics_main/third.png") repeat scroll 0 0 transparent;*/
}

/* AUTHOR BODY */
.author-body {

}
.author-body .author-wrap {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    width: 900px;
}
.author-wrap .author-headline {
    border-bottom: 1px solid silver;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0 0 0 15px;
}
.author-wrap .author-content {
    overflow: hidden;
    margin: 15px 0 0;
}
.author-content img {
    border: 1px solid silver;
    float: left;
    margin: 0 15px 5px 0;
    padding: 2px;    
}
.author-content .author-text {
    float: left;
    font-size: 10pt;
    line-height: 1.6;
    margin: 0 0 120px;
    width: 70%;
}
.author-text p {
    margin: 0 0 10px;
}

/* CARD */
.card-cover {
    line-height: 0;
}
.card-cover img {
    border: 0;
    height: 100%;
    width: 100%;
}
.card-block {
    background: none repeat scroll 0 0 transparent;
    border: 1px #FFFFFF dashed;
    display: block;
    height: 150px;
    left: 20px;
    opacity: 1 !important;
    position: absolute !important;
    top: 30px;
    width: 600px;
}
.card-block .block-content {
    height: inherit;
    overflow: auto;
    padding: 10px;
    word-wrap: break-word;
}
.card-block .block-content .card-init-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 0;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
}
.card-block .note-editor {
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    height: inherit;
    overflow: auto;
}
.card-block .close-button {
    font-size: 13px;
    opacity: 0.3;
    position: inherit;
    right: 5px;
    top: 7px;
}
.card-block .close-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.card-block .rotate-button {
    font-size: 13px;
    left: -15px;
    opacity: 0.3;
    position: inherit;
    top: -15px;
}
.card-block .rotate-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
/* VIEW CARD */
.view-card-body .card-block {
    border: 0;
}

/* TOOLBAR */
#toolbar {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E8E8E8;
    display: block;
    height: 50px;
    padding: 5px 10px;
}
#toolbar .pick-cover-add-block-wrap {
    float: left;
    margin: 5px 0;
}
#toolbar .preview-publish-wrap {
    float: right;
    margin: 5px 0;
}
#toolbar .editor-toolbar {
    float: left;
    margin: 0 10px;
}
#toolbar .toolbar-button {
    padding: 4px 10px;
}

.editor-toolbar .note-toolbar-wrap {
    border: 0;
}

.editor-toolbar .note-toolbar-wrap .note-toolbar {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Top Info Bar */
#top-info-bar {
    background-color: #4272DB;
    display: none;
    overflow: hidden;
}
#top-info-bar .content {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 8px 12px 6px;
}
#top-info-bar .buttons {
    float: right;
    margin: 2px 10px 0 0;
}
#top-info-bar .buttons .btn {
    padding: 4px 10px;
}

/* Modal */
#modal .mask {
    background-color: #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
#modal .loader
{
    left: 0;
    position: absolute;
    top: 0;
    z-index: 101;
}
#modal .content-wrap
{
    left: 0;
    position: absolute;
    top: 0;
    z-index: 101;
}
#modal .close-button {
    font-size: 15px;
    position: inherit;
    right: 15px;
    opacity: 0.3;
    top: 15px;
}
#modal .close-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* InfoMessage */
#info-message {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 500px;
    z-index: 101;
}
#info-message .content {
    background-color: #F9EDBE;
    border: 1px solid #F0C36D;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin: 0 auto;
    padding: 6px 10px;
    text-align: center;
    word-wrap: break-word;
}

/* Cover Picker */
.cover-picker {
    background-color: #fff;
    border: 1px solid #acacac;
    overflow: auto;
    -moz-box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    display: block;
    height: 400px;
    overflow: hidden;
    width: 680px;
}
.cover-picker .header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    padding: 10px 15px;
}
.cover-picker .menu {
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    float: left;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}
.cover-picker .menu .item {
    cursor: pointer;
    display: block;
    padding: 10px 10px 10px 15px;
}
.cover-picker .menu .item:hover {
    background-color: #eee;
}
.cover-picker .menu .item.active {
    border-left: #dd4b39 5px solid;
    color: #cf4236;
    font-weight: bold;
}
.cover-picker .cover-thumbnails {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0 0 10px;
}
.cover-thumbnails .thumbnail {
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 5px #666666;
    float: left;
    margin: 10px 11px;
    padding: 2px 2px;
    opacity: 0.8;
}
.cover-thumbnails .thumbnail:hover {
    border: 1px solid #666666;
    cursor: pointer;
    opacity: 1;
}
.cover-thumbnails .thumbnail.active {
    border: 2px solid #4D90FE !important;
    cursor: default !important;
    padding: 1px 1px;
    opacity: 1;
}
.cover-thumbnails .thumbnail img {
    border: 0;
    display: block;
    height: 112px;
    width: 200px;
}

/* Post created card window */
.post-creation-window {
    background-color: #FFFFFF;
    border: 1px solid #acacac;
    overflow: auto;
    -moz-box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    display: block;
    height: 400px;
    overflow: hidden;
    width: 650px;
}
.post-creation-window .header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    padding: 10px 15px;
}
.post-creation-window .info {
    background-color: #dff0d8;
    border: 1px solid transparent;
    border-color: #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    margin: 15px 15px 5px;
    padding: 15px;
    overflow: hidden;
}
.post-creation-window .info .glyphicon-ok {
    float: left;
    font-size: 20px;
}
.post-creation-window .info .text {
    font-weight: bold;
    margin: 3px 0 0 30px;
}
.post-creation-window .operations-panel .menu {
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 5px 0 5px 15px;
}
.post-creation-window .operations-panel .menu .item {
    border-bottom: transparent 4px solid;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin: 0 5px;
    padding: 10px 15px 5px;
}
.post-creation-window .operations-panel .menu .item:hover, .operations-panel .menu .item.active {
    border-bottom: #dd4b39 4px solid;
    color: rgba(0, 0, 0, 1.0);;
}
.post-creation-window .operations-panel .operations .item {
    display: none;
    padding: 30px 40px;
}