/* RESET STYLES
--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;    
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
    outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
     border: none;
}

a,
input,
button,
button span {
	outline: none;
}

button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}


/* MAIN
--------------------------------------------- */

body {
    background: none repeat scroll 0 0 #FBFBFB;
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    line-height: 1.5;
}

a,
a:visited {
    color: #4f6a8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(64, 115, 176, 0.5);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(64, 115, 176, 0.5);
    box-shadow: inset 0px 1px 2px 0px rgba(64, 115, 176, 0.5);
    background: #74a6e1;
    background: -moz-linear-gradient(top, #74a6e1 0%, #5289d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74a6e1), color-stop(100%,#5289d0));
    background: -webkit-linear-gradient(top, #74a6e1 0%,#5289d0 100%);
    background: -o-linear-gradient(top, #74a6e1 0%,#5289d0 100%);
    background: -khtml-linear-gradient(top, #74a6e1 0%,#5289d0 100%);
    background: -ms-linear-gradient(top, #74a6e1 0%,#5289d0 100%);
    background: linear-gradient(top, #74a6e1 0%,#5289d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74a6e1', endColorstr='#5289d0');
    border-top: 1px solid #4471a7;
    border-bottom: 1px solid #4673aa;
    border-left: 1px solid #4875ac;
    border-right: 1px solid #4875ac;
    color: #fff;
    cursor: pointer;
    height: 35px;
    font-weight: bold;
    font-family: "Verdana", "Arial", "Tahoma", sans-serif, "Lucida Sans";
    font-size: 11px;
    line-height: 17px;
    padding: 0 15px;
    margin: 0;
    text-shadow: 0px -1px 0px #447dc1;
}

button:hover {
    background: #67a2e3;
    background: -moz-linear-gradient(top, #7ab3ea 0%, #5593dd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ab3ea), color-stop(100%,#5593dd));
    background: -webkit-linear-gradient(top, #7ab3ea 0%,#5593dd 100%);
    background: -o-linear-gradient(top, #7ab3ea 0%,#5593dd 100%);
    background: -khtml-linear-gradient(top, #7ab3ea 0%,#5593dd 100%);
    background: -ms-linear-gradient(top, #7ab3ea 0%,#5593dd 100%);
    background: linear-gradient(top, #7ab3ea 0%,#5593dd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ab3ea', endColorstr='#5593dd');
}

button:active {
    background: #5384be;
    background: -moz-linear-gradient(top, #487ab5 0%, #6d9cd0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#487ab5), color-stop(100%,#6d9cd0));
    background: -webkit-linear-gradient(top, #487ab5 0%,#6d9cd0 100%);
    background: -o-linear-gradient(top, #487ab5 0%,#6d9cd0 100%);
    background: -khtml-linear-gradient(top, #487ab5 0%,#6d9cd0 100%);
    background: -ms-linear-gradient(top, #487ab5 0%,#6d9cd0 100%);
    background: linear-gradient(top, #487ab5 0%,#6d9cd0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#487ab5', endColorstr='#6d9cd0');
}

button.gray {
    background: #E0E0E0;        
    background: -moz-linear-gradient(top, #FAFAFA 0%, #DCDCDC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DCDCDC));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#DCDCDC 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#DCDCDC 100%);
    background: -khtml-linear-gradient(top, #FAFAFA 0%,#DCDCDC 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#DCDCDC 100%);
    background: linear-gradient(top, #FAFAFA 0%,#DCDCDC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DCDCDC');
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    box-shadow: 0 0 1px #FFFFFF inset;    
    color: #111111;
    text-shadow: 0 1px 0 #FFFFFF;
}

button.gray:hover {
    background: #67a2e3;
    background: -moz-linear-gradient(top, #F8F8F8 0%, #ECECEC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#ECECEC));
    background: -webkit-linear-gradient(top, #F8F8F8 0%,#ECECEC 100%);
    background: -o-linear-gradient(top, #F8F8F8 0%,#ECECEC 100%);
    background: -khtml-linear-gradient(top, #F8F8F8 0%,#ECECEC 100%);
    background: -ms-linear-gradient(top, #F8F8F8 0%,#ECECEC 100%);
    background: linear-gradient(top, #F8F8F8 0%,#ECECEC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#ECECEC');
}

button.gray:active {
    background: -moz-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C8C8C8), color-stop(100%,#E6E6E6));
    background: -webkit-linear-gradient(top, #C8C8C8 0%,#E6E6E6 100%);
    background: -o-linear-gradient(top, #C8C8C8 0%,#E6E6E6 100%);
    background: -khtml-linear-gradient(top, #C8C8C8 0%,#E6E6E6 100%);
    background: -ms-linear-gradient(top, #C8C8C8 0%,#E6E6E6 100%);
    background: linear-gradient(top, #C8C8C8 0%,#E6E6E6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C8C8C8', endColorstr='#E6E6E6');
    border-top: 1px solid #888888;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}

/* HEADER */
#header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E8E8E8;
    display: block;
    height: 44px;
    width: 100%;
}
#header a.logo_link {
    float: left;
    padding: 7px 0 0 50px;
    width: 100px;    
}
#header .logo {
    background: url("../img/gcards_logo.png") repeat scroll 0 0 transparent;
    height: 31px;
    width: 100px;
}

/* FOOTER */
#footer {
    background-color: #F2F2F2 !important;
    border-top: 1px solid #E2E2E2;
    height: 60px;
    overflow: hidden;
}
#footer .logo {
    background: url("../img/gcards_logo_white_black.png") repeat scroll 0 0 transparent;
    float: left;
    height: 31px;
    margin: 15px 0 0 60px;
    width: 100px;
}
#footer ul.navigation_bar {
    float: left;
    height: 17px;
    margin: 22px 0 0 30px;
    overflow: hidden;
}
#footer ul.navigation_bar li{
    float: left;
    margin: 0 15px 0 0;
}
#footer ul.navigation_bar li a{
    color: #666666;
    font-size: 10pt;
    font-weight: bold;
}
#footer .action_bar {
    float: right;
}
#footer ul.social_bar {
    float: left;
    margin: 14px 20px 0 0;
    overflow: hidden;
}
#footer ul.social_bar li{
    float: left;
    margin: 0 15px 0 0;
}
#footer ul.social_bar img {
    border-radius: 35px;
    height: 35px;
    opacity: 0.5;
    width: 35px;
}
#footer ul.social_bar img:hover {
    opacity: 0.8;
}
#problem_button {
    background: #F6F6F6;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EFEFEF));
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: -khtml-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF');
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    box-shadow: 0 1px 2px #444444;
    color: #444444;
    float: left;
    font-weight: bold;
    margin: 12px 15px 0 0;
    padding: 10px 15px;
}
#problem_button:hover {
    background: #D14836;
    background: -moz-linear-gradient(top, #DD4B39 0%, #D14836 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DD4B39), color-stop(100%,#D14836));
    background: -webkit-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: -o-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: -khtml-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: -ms-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: linear-gradient(top, #DD4B39 0%,#D14836 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD4B39', endColorstr='#D14836');
    border-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.main-body {
    display: block;
    overflow: hidden;
    position: relative;
}

/* AUTHOR BODY */
.author-body {

}
.author-body .author-wrap {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    width: 900px;
}
.author-wrap .author-headline {
    border-bottom: 1px solid silver;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0 0 0 15px;
}
.author-wrap .author-content {
    overflow: hidden;
    margin: 15px 0 0;
}
.author-content img {
    border: 1px solid silver;
    float: left;
    margin: 0 15px 5px 0;
    padding: 2px;    
}
.author-content .author-text {
    float: left;
    font-size: 10pt;
    line-height: 1.6;
    margin: 0 0 120px;
    width: 70%;
}
.author-text p {
    margin: 0 0 10px;
}

/*CARD*/
.card-cover {
    line-height: 0;
}
.card-cover img {
    border: 0;
    height: 100%;
    width: 100%;
}
.card-block {
    background: none repeat scroll 0 0 transparent;
    border: 1px #FFFFFF dashed;
    display: block;
    height: 150px;
    left: 20px;
    overflow: hidden;
    padding: 5px;
    position: absolute !important;
    top: 30px;
    width: 600px;
}
.card-block .block-content {
    color: #FFFFFF;
    font-size: 24pt;
    word-wrap: break-word;
}

/*VIEW CARD*/
.view-card-body .card-block {
    border: 0;
}