/* RESET STYLES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;    
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
    outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
     border: none;
}

a,
input,
button,
button span {
	outline: none;
}

button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}


/* MAIN */

body {
    background: none repeat scroll 0 0 #FBFBFB;
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    line-height: 1.5;
}

a,
a:visited {
    color: #4f6a8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

/* HEADER */
#header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E8E8E8;
    display: block;
    height: 44px;
}
#header a.logo_link {
    float: left;
    padding: 7px 0 0 50px;
    width: 100px;    
}
#header .logo {
    background: url("../img/gcards_logo.png") repeat scroll 0 0 transparent;
    height: 31px;
    width: 100px;
}

/* FOOTER */
#footer {
    background-color: #F2F2F2 !important;
    border-top: 1px solid #E2E2E2;
    height: 60px;
    overflow: hidden;
}
#footer .logo {
    background: url("../img/gcards_logo_white_black.png") repeat scroll 0 0 transparent;
    float: left;
    height: 31px;
    margin: 15px 0 0 60px;
    width: 100px;
}
#footer ul.navigation_bar {
    float: left;
    height: 17px;
    margin: 22px 0 0 30px;
    overflow: hidden;
}
#footer ul.navigation_bar li{
    float: left;
    margin: 0 15px 0 0;
}
#footer ul.navigation_bar li a{
    color: #666666;
    font-size: 10pt;
    font-weight: bold;
}
#footer .action_bar {
    float: right;
}
#footer ul.social_bar {
    float: left;
    margin: 14px 20px 0 0;
    overflow: hidden;
}
#footer ul.social_bar li{
    float: left;
    margin: 0 15px 0 0;
}
#footer ul.social_bar img {
    border-radius: 35px;
    height: 35px;
    opacity: 0.5;
    width: 35px;
}
#footer ul.social_bar img:hover {
    opacity: 0.8;
}
#problem_button {
    background: #F6F6F6;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EFEFEF));
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: -khtml-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    background: linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF');
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    box-shadow: 0 1px 2px #444444;
    color: #444444;
    float: left;
    font-weight: bold;
    margin: 12px 15px 0 0;
    padding: 10px 15px;
}
#problem_button:hover {
    background: #D14836;
    background: -moz-linear-gradient(top, #DD4B39 0%, #D14836 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DD4B39), color-stop(100%,#D14836));
    background: -webkit-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: -o-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: -khtml-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: -ms-linear-gradient(top, #DD4B39 0%,#D14836 100%);
    background: linear-gradient(top, #DD4B39 0%,#D14836 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD4B39', endColorstr='#D14836');
    border-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.main-body {
    display: block;
    overflow: hidden;
    position: relative;
}

/* AUTHOR BODY */
.author-body {

}
.author-body .author-wrap {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    width: 900px;
}
.author-wrap .author-headline {
    border-bottom: 1px solid silver;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0 0 0 15px;
}
.author-wrap .author-content {
    overflow: hidden;
    margin: 15px 0 0;
}
.author-content img {
    border: 1px solid silver;
    float: left;
    margin: 0 15px 5px 0;
    padding: 2px;    
}
.author-content .author-text {
    float: left;
    font-size: 10pt;
    line-height: 1.6;
    margin: 0 0 120px;
    width: 70%;
}
.author-text p {
    margin: 0 0 10px;
}

/* CARD */
.card-cover {
    line-height: 0;
}
.card-cover img {
    border: 0;
    height: 100%;
    width: 100%;
}
.card-block {
    background: none repeat scroll 0 0 transparent;
    border: 1px #FFFFFF dashed;
    display: block;
    height: 150px;
    left: 20px;
    opacity: 1 !important;
    overflow: hidden;
    padding: 5px;
    position: absolute !important;
    top: 30px;
    width: 600px;
}
.card-block .block-content {
    word-wrap: break-word;
}
.card-block .note-editor {
    border: 0;
}
.card-block .note-editor {
    background-color: rgba(255, 255, 255, 0.7);
}
/* VIEW CARD */
.view-card-body .card-block {
    border: 0;
}

/* TOOLBAR */
#toolbar {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E8E8E8;
    display: block;
    /*height: 44px;*/
    height: 150px;
    padding: 5px;
}
#toolbar .pick-cover-add-block-wrap {
    float: left;
    margin: 5px 0;
}
#toolbar .preview-publish-wrap {
    float: right;
    margin: 5px 0;
}
#toolbar .editor-toolbar {
    float: left;
    margin: 0 10px;
}

.editor-toolbar .note-toolbar-wrap {
    border: 0;
}

.editor-toolbar .note-toolbar-wrap .note-toolbar {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Modal */
#modal .mask {
    background-color: #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
#modal .content
{
    left: 0;
    position: absolute;
    top: 0;
    z-index: 101;
}
#modal .loader
{
    left: 0;
    position: absolute;
    top: 0;
    z-index: 101;
}

/* InfoMessage */
#info-message {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 500px;
    z-index: 101;
}
#info-message .content {
    background-color: #F9EDBE;
    border: 1px solid #F0C36D;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin: 0 auto;
    padding: 6px 10px;
    text-align: center;
    word-wrap: break-word;
}

/* Cover Picker */
.cover-picker-wrap {
    display: none;
}
.cover-picker {
    background-color: #fff;
    border: 1px solid #acacac;
    overflow: auto;
    -moz-box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    box-shadow: rgba(0,0,0,.2) 0 4px 16px;
    display: block;
    height: 400px;
    overflow: hidden;
    width: 650px;
}
.cover-picker .header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    padding: 10px 15px;
}
.cover-picker .menu {
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    float: left;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}
.cover-picker .menu .item {
    cursor: pointer;
    display: block;
    padding: 10px 10px 10px 15px;
}
.cover-picker .menu .item:hover {
    background-color: #eee;
}
.cover-picker .menu .item.active {
    border-left: #dd4b39 5px solid;
    color: #cf4236;
    font-weight: bold;
}
.cover-picker .cover-thumbnails {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0 0 10px;
}
.cover-thumbnails .thumbnail {
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 5px #666666;
    float: left;
    margin: 10px 11px;
    padding: 2px 2px;
    opacity: 0.8;
}
.cover-thumbnails .thumbnail:hover {
    border: 1px solid #666666;
    cursor: pointer;
    opacity: 1;
}
.cover-thumbnails .thumbnail.active {
    border: 2px solid #4D90FE !important;
    cursor: default !important;
    padding: 1px 1px;
    opacity: 1;
}
.cover-thumbnails .thumbnail img {
    border: 0;
    display: block;
    height: 104px;
    width: 185px;
}